

h4 {
  margin: auto;
  width: 350px;
  text-align: center;
  margin-bottom: 2%;
}

input {
  background: rgb(189, 229, 236);
}

input:hover {
  background: rgb(189, 229, 236);
  color: #fff;
  font-weight: bold;
}
input:active {
  background: rgb(189, 229, 236);
  color: #fff;
  font-weight: bold;
}
label {
  font-weight: bold;
}

.vai {
  transition: 1s;
}
.vai:hover {
  transition: 1s;
  transform: scale(1.1);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}
.vai:active {
  transition: 600ms;
  transform: scale(1.2);
}

form {
  background: #fff;
  padding: 2%;
  border-radius: 10px;
}

.fundo {
  padding: 2%;
  background: #fff;
  border-radius: 10px;
}

#olhinho img {
  cursor: pointer;
}